@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    src: url("../font/Playfair_Display/static/PlayfairDisplay-Black.ttf") format('truetype');
}


.container_ {
    max-width: 2978px;
    width: 100%;
    margin: 0 auto;
}

.main_container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.group1 {
    margin-right: 50px;
}

.group11 {
    margin-right: 60px;
}

.index3 {
    padding-left: 39%;
}

.header {
    border: 1px solid black;
}

@media (max-width: 1500px) {
    .image_block {
        top: 770px;
    }
}

@media (max-width: 1200px) {
    .index2 {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .group1 {
        width: 100%;
        margin: 0 auto;
    }

    .group11 {
        width: 100%;
        margin: 30px auto;
    }

    .group2 {
        margin: 0 auto;
    }
}

@media (max-width: 1016px) {
    .header {
        height: 1150px;
    }

    .image_block {
        right: 0;
        width: 100%;
        margin: 0 auto;
    }

    .block1 {
        margin-right: 50px;
    }

    .block1, .block2, .block3 {
        margin: 50px auto;
    }

    @media (max-width: 862px) {
        .header {
            height: 1460px;
        }

        .index3 {
            padding: 0;
            margin: 0;
            height: 800px;
        }

        .index3_content {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }

        .index3_content > * {
            margin: 0 auto;
        }

        .index3_content_left {
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }

        .index3_content_left > * {
            margin: 0 auto;
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            align-items: center;
        }

        .footer_block1 {
            padding-left: 50px;
        }

        .footer_block1_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;
            max-width: 100%;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    @media (max-width: 650px) {
        .header {
            height: 1680px;
        }

        .image_block {
            top: 760px;
        }

        .block1, .block2, .block3 {
            margin: 50px auto;
        }

        @media (max-width: 500px) {
            .header {
                height: 1780px;
            }

            .image_block {
                top: 860px;
            }

            .menu {
                display: none;
            }
        }
    }
}

.header {
    background-image: url("../img/ImageBackground1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text1, .text5, .text6, .text7 {
    font-family: 'Playfair_Display', sans-serif;
}

.text2, .text3, .text4 {
    font-family: 'Montserrat', sans-serif;
}

.block1 {
    background-image: url("../img/block1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block2 {
    background-image: url("../img/block2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block3 {
    background-image: url("../img/block3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.group1 {
    border-radius: 16px;
    background: linear-gradient(0.00deg, rgb(0, 0, 0) -10.487%, rgba(0, 0, 0, 0) 62.394%), url("../img/group1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.group11 {
    border-radius: 16px;
    background: linear-gradient(0.00deg, rgb(0, 0, 0) -10.487%, rgba(0, 0, 0, 0) 62.394%), url("../img/block66.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index3 {
    background-image: url("../img/man_with_glasses.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
